<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= user.job %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= user.cpf %>
  </p>

</div>
